@page "/counter"

<PageTitle>Counter</PageTitle>

<MudText Typo="Typo.h2">Counter</MudText>

<p role="status">Current count: @currentCount</p>

<MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="IncrementCount">Click me</MudButton>
